# THIS IS NOT RUNNING

# But is starting to do spatiall stacking/averaging

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import glob
import os
import sys
import time
import datetime as dt
import pandas as pd
import geopandas as gpd
import scipy as sp
from scipy import signal
from tqdm.notebook import tqdm

from shapely.geometry import Point, LineString, Polygon
import fiona

In [2]:
bed_gdf = gpd.read_file('/Volumes/arc_04/FIELD_DATA/K8621920/RES/PROCESSED_LINES/picked_bed.shp')

In [3]:
bed_gdf.head()

,CDP,x,y,DELAY,line_name,SEQnum,camp,geometry
0,100,-381564.6,-725999.7,8790,line7,1,KIS2,POINT (-381564.600 -725999.700)
1,101,-381563.4,-725998.3,8790,line7,1,KIS2,POINT (-381563.400 -725998.300)
2,102,-381561.6,-725996.1,8790,line7,1,KIS2,POINT (-381561.600 -725996.100)
3,103,-381559.5,-725993.6,8790,line7,1,KIS2,POINT (-381559.500 -725993.600)
4,104,-381557.4,-725991.1,8790,line7,1,KIS2,POINT (-381557.400 -725991.100)

In [4]:
def add_distance_to_gdf(gdf):
    """
    Input: geodataframe
    Output: Adds columns 'dx' and 'distance_cum'
    """
    tmp_dfp = [Point.distance(gdf.geometry.iloc[i]) for i,Point in enumerate(gdf.geometry.iloc[1:])] #note the 1:, equivalent to i+1
    tmp_dfp[:0] = [0]
    gdf['dx'] = pd.Series(tmp_dfp) 
    gdf['distan_cum'] = gdf.dx.cumsum().copy()

In [5]:
def stack_spatially(line,stack_distance=5):
    """
    stack depths to end with points every stack_distance appart ( in m)
    I.e. resample spatially.
    """

    bins = np.arange(-5,line.distan_cum.iloc[-1]+10,stack_distance)

    line['distance_bins'] = pd.cut(line.distan_cum, bins ,labels=(bins[:-1]+5)   )     #then average each bin see https://stackoverflow.com/questions/45273731/binning-column-with-python-pandas#45273750

    #now stack over the distance bins
    splitdistance_index = np.hstack([np.argwhere(line.distance_bins.diff().to_numpy() !=0 ).flatten(),-1])

    stacked_ch0 = np.zeros([len(splitdistance_index)-1,line.DELAY.shape[1]])
    for i, index in enumerate(splitdistance_index[:-1]):
        stacked_ch0[i,:] = np.mean( line.DELAY[ index:splitdistance_index[i+1],: ],axis=0 )    
    line.DELAY = stacked_ch0

    line = line.iloc[splitdistance_index]
    line = line.reset_index(drop=True)

In [6]:
line7 = bed_gdf.query("line_name == 'line7'")

In [7]:
add_distance_to_gdf(line7)

/Users/home/whitefar/miniconda3/envs/remote_sensing/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/home/whitefar/miniconda3/envs/remote_sensing/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [8]:
line7

,CDP,x,y,DELAY,line_name,SEQnum,camp,geometry,dx,distan_cum
0,100,-381564.6,-725999.7,8790,line7,1,KIS2,POINT (-381564.600 -725999.700),0.000000,0.000000
1,101,-381563.4,-725998.3,8790,line7,1,KIS2,POINT (-381563.400 -725998.300),1.843909,1.843909
2,102,-381561.6,-725996.1,8790,line7,1,KIS2,POINT (-381561.600 -725996.100),2.842534,4.686443
3,103,-381559.5,-725993.6,8790,line7,1,KIS2,POINT (-381559.500 -725993.600),3.264966,7.951409
4,104,-381557.4,-725991.1,8790,line7,1,KIS2,POINT (-381557.400 -725991.100),3.264966,11.216374
...,...,...,...,...,...,...,...,...,...,...
1250,1350,-379003.4,-723272.2,8490,line7,1,KIS2,POINT (-379003.400 -723272.200),4.386342,3750.305178
1251,1351,-379001.8,-723270.5,8490,line7,1,KIS2,POINT (-379001.800 -723270.500),2.334524,3752.639701
1252,1352,-379000.2,-723269.0,8490,line7,1,KIS2,POINT (-379000.200 -723269.000),2.193171,3754.832872
1253,1353,-378997.3,-723266.3,8490,line7,1,KIS2,POINT (-378997.300 -723266.300),3.962323,3758.795195
1254,1354,-378995.7,-723264.8,8490,line7,1,KIS2,POINT (-378995.700 -723264.800),2.193171,3760.988366

In [ ]:
lines_gdf.set_index('line_names',inplace=True)
lines_gdf.head()

In [ ]:


for line0 in lines_gdf.index.tolist():
    for line1 in lines_gdf.index.tolist():
        if line0.intersects(line1):
            isect_pnt = first.intersection(second)

In [ ]:
lines_gdf.index.tolist()