In [4]:
import pandas as pd
import numpy as np

In [6]:
df1 = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df1

          A         B         C         D
0  1.247739  1.235975  0.491444  0.560959
1 -0.050423  0.051046  0.547594 -1.051005
2  1.525824 -0.416554  0.541629  1.319014
3 -0.865506  2.891172 -0.185080  0.406274
4  1.001786  0.336816  0.694122 -1.792538
5 -0.492944  0.622891 -0.309924  0.203580

In [9]:
df1.loc[np.array([0,4,5])]

          A         B         C         D
0  1.247739  1.235975  0.491444  0.560959
4  1.001786  0.336816  0.694122 -1.792538
5 -0.492944  0.622891 -0.309924  0.203580

In [3]:
tuples_of_delay = [(1,2),(3,4),(5,4)]

delay_at_intersections = [i[0] for i in tuples_of_delay]
delay_at_intersections

[1, 3, 5]

In [5]:
list(sum(tuples_of_delay, ()))

[1, 2, 3, 4, 5, 4]